<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestRailTest">
    <test name="main">
        <classes>
            <class name="tests.LoginTest"></class>
            <class name="tests.ProjectSettingsTest"></class>
            <class name="tests.TestCaseTest"></class>
            <!--<class name="api_tests.RestTests"></class>-->
        </classes>
    </test>
</suite>